<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Avalara.AvaTax.Adapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <appSettings>
    <add key="url" value="https://avatax.avalara.net" />
    <add key="account" value="1100011668" />
    <add key="key" value="45B03CBA8C8658C7" />
    <add key="UserName" value="ramkrishna" />
    <add key="Password" value="Kennwort.2008" />
    <add key="timeOut" value="300" />
    <add key="ToEmail" value="ramkrishna.shenkar@avalara.com"/>

    <!--<add key="url" value="http://av-pn-shashik/avaservice/"/>
    <add key="account" value="1987654354" />
    <add key="key" value="45B03CBA8C8658C7" />
    <add key="UserName" value="regression.admin@avalara.com" />
    <add key="Password" value="qaonly" />
    <add key="timeOut" value="300" />
    <add key="ToEmail" value="ramkrishna.shenkar@avalara.com"/>-->

  </appSettings>
<userSettings>
    <Avalara.AvaTax.Adapter.Properties.Settings>
      <setting name="GetLogTokenApiQueryStringFormat" serializeAs="String">
        <value>auth={0}&amp;client={1}&amp;name={2}&amp;set={3}&amp;source={4}</value>
      </setting>
      <setting name="LogTokenApiUrl" serializeAs="String">
        <value>https://tgs.avalara-connect.net/api/v1/LogToken</value>
      </setting>
    </Avalara.AvaTax.Adapter.Properties.Settings>
  </userSettings>
</configuration>